* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
  font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*--------------------------------------------*/

.fa-check {
	color: green
}

.fa-times {
	color: red
}

/*////////// [ login ] ////////*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login {
	position: relative;
	height: 560px;
  width: 390px;
  background: #fff;
  border-radius: 10px;
/*  overflow: hidden; */
/*  padding: 77px 55px 33px 55px; */

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/*[ Form ]*/

.login-form {
  width: 100%;
  padding-top: 55px;
}

.login-form-logo {
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  margin: 30px 10px 0 55px;
}

.login-form-title {
  display: block;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
}

/*[ Input ]*/

.wrap-input {
  margin: 0px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 27px;
}

.input-field {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  margin-left: 30px;
  display: block;
  width: 80%;
  height: 45px;
  background: transparent;
  padding: 0 15px;
}

/*---------------------------------------------*/
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 40px;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: -40px;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #5ab98c;
}

.focus-input::after {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 50%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.input-field:focus + .focus-input::after {
  top: -15px;
  display: none;
}

.input-field:focus + .focus-input::before {
  width: 50%;
}

.input-field:focus + .focus-input::before ~ .btn-show-pass {
  width: 100%;
}

.has-val.input-field + .focus-input::after {
  top: -15px;
  display: none;
}

.has-val.input-field + .focus-input::before {
  width: 50%;
}

.is-legit.input-field + .focus-input::before {
  width: 100%;
}

.not-legit.input-field + .focus-input::before {
  width: 100%;
	background: #e3b4ae;
}


.fa-input-icon {
  font-size: 16px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 20px;
}

.fa-inline-icon {
  font-size: 16px;
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: 5px;
}

/*---------------------------------------------*/

.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/* ----[ Button ]--------- */

.container-login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 15px 60px 15px;
}

.wrap-login-form-btn {
  width: 30%;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 5px 0 5px;
}

.login-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-form-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #bcbcbf;
  line-height: 1.2;

	border: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #bcbcbf;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 35px;
	width: 100%;
}

.btn-danger {
  background-color: #d2877d;
	color: #fefeff;
	border: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-success {
  background-color: #5ab98c;
	color: #fefeff;
	border: none;

  -webkit-transition: all 1.4s;
  -o-transition: all 1.4s;
  -moz-transition: all 1.4s;
  transition: all 1.4s;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
  left: 0;
}


.wrap-forget {
  display: flex;
}

.login-forgot-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #999999;
  line-height: 2.2;
  margin-left: 16px;
}


/* -- basement - */
.container-lang-new-user{
	position: absolute;
	width: 100%;
	bottom: 0;
	border-radius: 0 0 10px 10px;
  padding-top: 13px;
  background-color: #f5f5f5;
}

.wrap-lang-new-user{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 15px 20px;
}

.login-i18n-btn {
  font-size: 16px;
  color: #979797;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 22px;
}

/* ----- logo ----- */
#logo-top {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
}
#logo-top:before {
  content: '';
  position: absolute;
  top: -4%;
  left: -100%;
  height: 15%;
  width: 100%;
  background: black;
  transform: skew(0deg, 150deg);
}
#logo-top:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  height: 15%;
  width: 150%;
  background: black;
  transform: skew(0deg, -150deg);
}
#logo-bottom {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
}
#logo-bottom:before {
  content: '';
  position: absolute;
  top: 20%;
  left: -250%;
  height: 15%;
  width: 150%;
  background: black;
  transform: skew(0deg, -150deg);
}
#logo-bottom:after {
  content: '';
  position: absolute;
  top: 24%;
  left: -100%;
  height: 15%;
  width: 100%;
  background: black;
  transform: skew(0deg, 150deg);
}
